/**** typeography ****/

* {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #747B95;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

/**** typeography ****/


/**** components ****/

label {
  padding-left: 16px;
  color: #747B95;
  opacity: 0.5;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid #747B95;
  opacity: 0.5;
  margin-bottom: 24px;
  width: 95%;
  padding-left: 15px;
  cursor: pointer;
}

input:focus {
  border-bottom: 1px solid #5175FF;
}



span {
  color:#5175FF;
}

.package-title {
  color: #333950;
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
}

.package-toggle {
  display: flex;
  border: none;
  background-color: transparent;
}

.arrow-down-icon {
  width: 11px;
  height: 5.5px;
}

.form-btn {
  width: 99%;
  padding: 12px 40px;
  border-radius: 999px;
  border: none;
  background-color: #5175FF;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 25.6px;
}

.package-menu {
  display: none;
  
}

/**** body ****/

.container {
  margin-left: 16px;
  margin-right: 16px;
  width: 93%;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

/**** body ****/



/**** header section ****/

header {
  margin: 32px 0px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/**** header section ****/



/**** left content section ****/

.countdown-container {
  margin-top: 40px;
  margin-bottom: 80px;
}

.countdown-container > p {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  color: #333950;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.timer-card {
  width: 14%;
  padding: 16px 12px;
  background-color: #E4EAFF;
  border-radius: 8px;
}

.timer-card > h1 {
  margin-top:4px;
  margin-bottom: 0px;
  color: #5175FF;
}

.timer-card > p {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 700;
  color: #333950;
  margin: 0px;
}

/**** left content section ****/




/**** form section ****/

.form-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  background-color: #25293A;
  height: 316px;
  margin-top: 252px;
  background-image: url('/public/assets/home/bg-pattern-footer.svg');
  background-position-x: center;
  background-position-y: center;
  background-size: 500px;
}

.form-container {
  width: 75%;
  position: relative;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 50px 50px -25px #4b5c9a29;
  bottom: 242px;
  
}

.package-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #747B95;
  padding: 0px 0px 24px;
  margin: 0px 0px 24px;
  opacity: 0.5;
}

.package-info  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.package-text {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.error-message {
  display: none;
  font-size: 12px;
}

.sub-title {
  color: #333950;
  opacity: 0.5;
  margin-bottom: 5px;
}

.package-sub {
  display: flex;
  gap: 10px;
}

.package-info > span {
  font-size: 16px;
  color: #333950;
  opacity: 0.5;
  font-size: 700;
}

.message {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/**** medie queries tablet ****/

@media screen and (min-width:768px) {

  h1 {
    margin-bottom: 0px;
  }
  
  
  /**** body ****/

  .container {
    margin-left: 40px;
    margin-right: 40px;
    width: 90%;
  }

  /**** body ****/




  /**** header section ****/

  header {
    display: flex;
    justify-content: left;
    margin-top: 64px;
  }

  /**** header section ****/




  /**** left-content section ****/

  .left-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 76%;
  }

  .countdown-container {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .countdown-timer {
    display: flex;
    width: 100%;
  }

  .timer-card {
    width: 12%;
  }

  /**** left-content section ****/



  /**** form section ****/

  .form-section {
    margin-top: 141px;
    height: 473px;
    background-repeat: no-repeat;
    background-size: 600px;
    background-image: url('/public/assets/home/bg-pattern-footer.svg');
  }

  .form-container {
     position: relative;
    bottom: 126px;
    padding: 40px;
    width: 40%;
  }

  .package-text {
    display: flex;
    flex-wrap: wrap;
  }

  .package-sub {
    display: flex;
    flex-wrap: wrap;
  }


}

/**** medie queries tablet ****/




/**** medie queries desktop ****/

@media screen and (min-width:1440px) {

  /**** typeography ****/

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
  }

  /**** typeography ****/


  /**** components ****/

  .form-btn {
    margin-top: 40px;
  }
  
  /**** body ****/

  .container {
    margin-left: 108px;
    margin-right: 108px;
    width: 85%;
  }

  body {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  /**** body ****/


  /**** header section ****/

  header {
    margin-top: 80px;
  }

  /**** header section ****/


  /**** left-content section ****/

  .left-content-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
  }

  .left-content {
    width: 43%;
    text-align: left;
  }

  .left-content > p {
    text-align: left;
  }

  .left-content h1 {
    text-align: left;
  }

  /**** countdown section ****/

  .countdown-container {
   display: flex;
   justify-content: left;
  }

  .countdown-timer {
    display: flex;
    justify-content: left;
  }

  .timer-card {
    width: 6%;
  }

  /*** countdown section ***/


  /**** form section ****/

  .form-section {
    display: flex;
    flex-direction: row;
    height: 1024px;
    width: 420px;
    margin: 0;
    background-color: #25293A;
    background-image: url('/public/assets/sign-up/bg-pattern-side.svg');
    background-size: 1421px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
   
  }

  .form-container {
    position: absolute;
    width: 80%;
    right: 148px;
    bottom: 310px;
    padding: 40px;
  }


  /**** left-content section ****/
}

